* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  min-width: 100vh;

  font-family: sans-serif;

  background-color: black;
}

.jogo{
  width: 1280px;
  height: 720px;

  background-image: url('../assets/scene.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.Ash{
  position: absolute;
  width: 75px;
  right: 2px;
}